.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
    cursor: pointer;
    width: 160px;
    padding-top: 10px;
  }
}
ul {
  padding-left: 0;
  li {
    list-style: none;
    padding: 1rem;
    margin: 0 1rem 5px 1rem;
    cursor: pointer;
    i {
      color: #000;
    }
    &.active,
    &:hover {
      border-radius: 12px;
      i {
        color: #fff;
      }
      color: #fff;
      background-color: var(--primary-color);
      transition: 0.3s ease;
    }
  }
}
