<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#f19f00"
  type="ball-pulse-sync"
  [fullScreen]="true"
></ngx-spinner>
<ng-container *ngIf="isAuthenticated$ | async; else unAuthenticated">
  <mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
      <app-sidebar></app-sidebar>
    </mat-drawer>

    <app-header (toggle)="drawer.toggle()"></app-header>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</ng-container>
<ng-template #unAuthenticated>
  <router-outlet></router-outlet>
</ng-template>
