.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .login-card {
    width: 450px;
    align-items: center;
    justify-content: center;
    mat-card-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 450px;
      width: 100%;
      button {
        align-items: center;
        width: 100%;
      }
    }
  }
}
